body {
    display: flex;
    flex-direction: column;
}

/* Header Stuff */
.header {
    display: flex;
    justify-content: space-between;

    background-color: #1F2937;
}

.logo {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin-left: 75px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 75px;
    gap: 50px;
}

li {
    font-size: 18px;
    font-family: "Roboto", Arial;
    color: #E5E7EB;
}

a {
    text-decoration: None;
    color: #E5E7EB; 
}

/* Hero Stuff */
.hero-container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.text {
    font-family: "Roboto", Arial;
}

.hero-content {
    margin-right: 50px;
    color: #F9FAF8;
    max-width: 700px;
}

.header-text{
    margin: 0;
}

.hero-main-text,
.hero-secondary-text {
    margin-bottom: 20px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary-text {
    font-size: 18px;
}

.hero-image {
    width: 500px;
    height: 250px;
    border: 2px solid #000000
}

.button {
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
   
    font-size: 18px;
    font-weight: 600;
    color: #F9FAF8;
}

/* Information Stuff */
.information-container {
    display: flex;
    justify-content: center;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.animal-picture {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.animal-description {
    text-align: center;
    margin:  0;
    margin-top: 10px;
}

.mammals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}
